<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.1" targetFramework="net462" />
  <package id="Elasticsearch.Net" version="5.6.3" targetFramework="net462" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="Kinetix.ServiceModel" version="1.0.1" targetFramework="net462" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="NEST" version="5.6.3" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net462" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net461" developmentDependency="true" />
  <package id="Unity" version="4.0.1" targetFramework="net462" />
  <package id="Unity.Interception" version="4.0.1" targetFramework="net462" />
</packages>